<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579179961951-p8dt5cdi58pjqkrc53fpglv87iau50dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579179961951-p8dt5cdi58pjqkrc53fpglv87iau50dh</string>
	<key>API_KEY</key>
	<string>AIzaSyBLNs62n37MNruw4AghdXftmmx2kYBnqj8</string>
	<key>GCM_SENDER_ID</key>
	<string>579179961951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tme</string>
	<key>PROJECT_ID</key>
	<string>tmef-e05a2</string>
	<key>STORAGE_BUCKET</key>
	<string>tmef-e05a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579179961951:ios:7ed67c826b405cce5ec5ea</string>
</dict>
</plist>